.header {
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
  margin: 45px auto 0 auto;
  max-width: 886px;
  width: 100%;
}

.header__image {
  height: 33px;
  width: 173px;
  position: relative;
  margin-bottom: 40px;
}

@media screen and (max-width: 730px) {
  .header__image {
    height: 26px;
    width: 126px;
  }
}

@media screen and (max-width: 630px) {
  .header {
    margin-top: 28px;
  }

  .header__image {
    height: 24px;
    margin: 0 auto 30px 27px;
  }
}
